#message_area {
    height: 95vh;
    background-color: rgb(235, 231, 231);
    word-break: break-word;
    overflow-y: scroll;
}

form {
    height: 5vh;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

form {
    input {
        width: 60vw;
    }

    button {
        width: 20vw;
    }
}

%message {
    border-radius: 3px;
}

.me {
    @extend %message;
    background-color: rgb(87, 137, 87);
}
.other {
    @extend %message;
    background-color: grey;
}