#message_area {
    height: 95vh;
    background-color: rgb(235, 231, 231);
    word-break: break-word;
    overflow-y: scroll;
}

form {
    height: 5vh;
    width: 100%;
}

form {
    input {
        width: 88vw;
    }

    button {
        width: 10vw;
    }
}

// TODO: aplicar estilos para cada mensaje del chat según sea enviado por mí o por otro